.post{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.tags__list{
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 834px) {
    .post{
        max-width: 360px;
    }
}

@media screen and (min-width: 1200px) {
    .post{
        max-width: 380px;
    }
}

