* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --fz-xxsmall: 10px;
  --fz-xssmall: 12px;
  --fz-ssmall: 14px;
  --fz-small: 16px;
  --fz-medium: 18px;
  --fz-large: 20px;
  --fz-xlarge: 24px;
  --fz-xxlarge: 28px;
  --fz-xxxlarge: 32px;
  --fz-xxxlarge: 36px;
  --fz-4xl: 48px;
  --fz-5xl: 72px;

}

@media screen and (min-width: 992px) {

}

.container {
  max-width: 100%;
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Poppins";
  color: #000;
  background: #fff;
}

main {
  min-height: 50vh;
}
